@page "/auth/login"
<div class="clamp">
    <h1>Login</h1>
    <div class="card card-md">
        <form>
            <input class="input" type="email" placeholder="example@@mail.com" autocomplete="username">
            <input class="input" 
                   type="password" 
                   placeholder="Password" 
                   autocomplete="current-password" 
                   minlength="5" 
                   maxlength="20"
                   pattern="[A-Za-z0-9#!?/.,;:@@#$%^&*()-=_+]{8,}">
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
    </div>
    <p>Doesn't have an account yet?</p>
    <NavLink class="btn btn-primary" href="auth/register">Register</NavLink>
</div>
@code {

}