@page "/auth/login"
<h1 class="display-2 text-center">Login</h1>
<Clamp>

    <div class="card card-body">
        <form>
            <div class="mb-3">

                <input class="form-control" type="email" placeholder="example@@mail.com" autocomplete="username">
            </div>
            <div class="mb-3">

                <input class="form-control"
                       type="password"
                       placeholder="Password"
                       autocomplete="current-password"
                       minlength="5"
                       maxlength="20"
                       pattern="[A-Za-z0-9#!?/.,;:@@#$%^&*()-=_+]{8,}">
            </div>
            <button class="btn btn-primary btn-lg form-control" type="submit">Login </button>
        </form>
    </div>
    <div class="card card-body mt-5">
        <p class="text-center">
            Doesn't have an account yet?
            <NavLink class="link link-primary" href="auth/register">Register</NavLink>
        </p>
    </div>
</Clamp>

@code {

}