@page "/auth/register-success"
<Clamp>
    
<h2 class="display-1 text-center text-success">Success</h2>
<p class="lead text-success">
    You have been successfully register to <strong>DomraSinForms</strong> service.
</p>
<p class="lead">
    Check your email for confirmation letter now. After confirmation you can already login to <strong>DomraSinForms</strong> service. 
</p>

@* TODO: Change page style to cooler one *@
</Clamp>
@code {
    
}