@page "/counter"
@rendermode InteractiveServer

<h3>Counter <span>@count</span></h3>
<button class="btn btn-primary" @onclick="IncreaseCount">Inc</button>

@code {
    public int count = 0;
    void IncreaseCount()
    {
        count++;
        StateHasChanged();
    }
}
