@using DomraSinForms.Application.Forms.Commands.Update;
@model UpdateFormCommand
<form id="autosaveForm" asp-action="Edit" method="post" data-dsf-form>

    <input type="hidden" asp-for="Id" />

    <div class="form-group mb-2">
        <input asp-for="Title" class="form-control form-control-lg" placeholder="Заголовок формы" data-dsf-formInput id="forminput1" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input asp-for="Description" class="form-control" placeholder="Описание формы" data-dsf-formInput id="forminput2" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

@*    <div class="form-group">
        <input type="submit" value="Сохранить" class="form-control btn btn-primary" />
    </div>*@

</form>