@using Microsoft.AspNetCore.Identity;
@model DomraSinForms.Domen.Models.Form
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Новыя форма";
}

<h1>Новая форма</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <input asp-for="CreatorId" class="form-control" value="@SignInManager.UserManager.GetUserId(User)" hidden/>
            <input asp-for="Id" class="form-control" value="@Guid.NewGuid().ToString()" hidden/>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Название</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
