/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
a {
    cursor: pointer;
}
.card-button:hover {
    transition: .5s;
    /*border-color: var(--bs-secondary-color);*/
    color: var(--bs-light-text-emphasis);
    background-color: var(--bs-tertiary-bg);
    cursor: pointer;
}
body[data-bs-theme=light] .card-button:hover {
    border-color: var(--bs-secondary-color);
}
.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}