@using DomraSinForms.Domain.Models.Answers;
@using DomraSinForms.Domain.Models.Questions;
@using Forms.Mvc.ViewModels.Answers;
@using Forms.Mvc.ViewModels.Answers.AnswersModels;
@using Forms.Mvc.Services;
@using Microsoft.AspNetCore.Mvc.Localization;
@model IAnswerViewModel
@inject IViewLocalizer Localizer
@{
    var modalId = $"modal{Model.Index}";
    string btnClass = string.IsNullOrWhiteSpace(Model.Value) ? "btn-outline-secondary" : "btn-outline-success";
    string iconClass = string.IsNullOrWhiteSpace(Model.Value) ? "" : "check2";
}

<div class="card">
    <div class="card-body">
        <div class="card-title h5">
            @Model.Question?.QuestionText
            @if (Model.IsRequired)
            {
                <a class="text-danger text-decoration-none" data-bs-toggle="tooltip" data-bs-title="@Localizer["This question is required"]">*</a>
            }
            <i class="bi-@iconClass ms-2"></i></div>
        <button class="btn @btnClass form-control mt-2" type="button" data-bs-toggle="modal" data-bs-target="#@modalId">
            @Localizer["Answer"] 
            
        </button>
        @switch (Model)
        {
            case (CheckAnswer checkAnswer):
                {
                    @await Html.PartialAsync("/Views/Answers/AnswerTypes/_CheckAnswerPartial.cshtml", checkAnswer, new ViewDataDictionary(ViewData) {{"ModalId", modalId}})
                }
                break;
            case (RadioAnswer radioAnswer):
                {
                    @await Html.PartialAsync("/Views/Answers/AnswerTypes/_RadioAnswerPartial.cshtml", radioAnswer, new ViewDataDictionary(ViewData) {{"ModalId", modalId}})
                }
                break;
            case (StringAnswer stringAnswer):
                {
                    @await Html.PartialAsync("/Views/Answers/AnswerTypes/_StringAnswerPartial.cshtml", stringAnswer, new ViewDataDictionary(ViewData) {{"ModalId", modalId}})
                }
                break;
            case (DecimalAnswer decimalAnswer):
                {
                    @await Html.PartialAsync("/Views/Answers/AnswerTypes/_DecimalAnswerPartial.cshtml", decimalAnswer, new ViewDataDictionary(ViewData) {{"ModalId", modalId}})
                }
                break;
            case (PhoneNumberAnswer phoneNumberAnswer):
                {
                    @await Html.PartialAsync("/Views/Answers/AnswerTypes/_PhoneNumberAnswerPartial.cshtml", phoneNumberAnswer, new ViewDataDictionary(ViewData) {{"ModalId", modalId}})
                }
                break;
            case (DateTimeAnswer dateTimeAnswer):
                {
                    switch (dateTimeAnswer)
                    {
                        case (DateAnswer dateAnswer):
                            {
                                @await Html.PartialAsync("/Views/Answers/AnswerTypes/_DateAnswerPartial.cshtml", dateAnswer, new ViewDataDictionary(ViewData) {{"ModalId", modalId}})
                            }
                            break;
                        case (TimeAnswer timeAnswer):
                            {
                                @await Html.PartialAsync("/Views/Answers/AnswerTypes/_TimeAnswerPartial.cshtml", timeAnswer, new ViewDataDictionary(ViewData) {{"ModalId", modalId}})
                            }
                            break;
                        default:
                            {
                                @await Html.PartialAsync("/Views/Answers/AnswerTypes/_DateTimeAnswerPartial.cshtml", dateTimeAnswer, new ViewDataDictionary(ViewData) {{"ModalId", modalId}})
                            }break;
                    }
                }
                break;
        }
    </div>
</div>



