@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Form send"];
}

<div class="display-4 text-center">@Localizer["Thank you!"]</div>
<div class="display-6 text-center">@Localizer["This form has been send."]</div>
