@using DomraSinForms.Domen.Models;
@model FormAnswers

<h1>@Model.Form?.Title</h1>
<h5>@Model.Form?.Description</h5>
<div class="row g-3">
    @foreach (var answer in Model.Answers)
    {
        <div class="col-md-8">
            <div class="d-block border rounded-3 p-3">
                <div class="row">
                    <label class="text-secondary">@answer.QuestionText</label>
                </div>
                <div class="row">
                    <input class="form-control" value="@answer.Value" readonly/>
                </div>
            </div>
        </div>
    }
</div>