@using DomraSinForms.Domen.Models;
@model IEnumerable<FormAnswers>


<table class="table">
    <thead>
        <tr>
            <th>
                Идентификатор
            </th>
            <th>
               Ответы
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ansver in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => ansver.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ansver.Answers)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@ansver.Id">Подробнее</a>
                </td>
            </tr>
        }
    </tbody>
</table>