@page "/test"
@rendermode InteractiveServer

<Clamp>
    
    
    <h1>Big title</h1>
    <h3>Counter <span>@count</span></h3>
    <button class="btn btn-primary" @onclick="IncreaseCount">Increment</button>
    <div class="d-flex flex-column gap-4">
        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-success">Success</button>
        <button class="btn btn-secondary">Secondary</button>
        <button class="btn btn-warning">Warning</button>
        <button class="btn btn-danger">Danger</button>
        <button class="btn btn-info">Info</button>
    </div>
</Clamp>

<AuthorizeView>
    <Authorized>
        Some
    </Authorized>
    <NotAuthorized>
        @foreach (var i in context.User.Claims)
        {
            <div>
                @i
            </div>
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    public int count = 0;

    void IncreaseCount()
    {
        count++;
        StateHasChanged();
    }

}