@using Forms.Mvc.ViewModels.Answers.AnswersModels;
@using Microsoft.AspNetCore.Mvc.Localization;
@model DecimalAnswer
@inject IViewLocalizer Localizer
@{
    var modalId = ViewData["ModalId"] as string ?? "somethingWrongWithThisModal";
}
<div class="modal fade" tabindex="-1" id="@modalId">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content justify-content-center">
            <form asp-controller="Answers" asp-action="UpdateDecimalAnswer" method="post">
                <div class="modal-header">
                    <div class="modal-title h5">@Model.Question?.QuestionText</div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Localizer["Close"]"></button>
                </div>
                <div class="modal-body">

                    <input asp-for="FormId" hidden />
                    <input asp-for="Index" hidden />
                    <input asp-for="IsRequired" hidden />
                    <input asp-for="QuestionId" hidden />
                    <div class="form-group mt-2">
                        <input class="form-control" type="number" asp-for="Value" />
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-success form-control">@Localizer["Send"]</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>