<div class="row justify-content-center">
    <div class="col col-lg-6">
        <div class="@classes">
            @ChildContent
        </div>
    </div>
</div>
@code {
    [Parameter] public string classes { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}