@using DomraSinForms.ChartsWrapper.ApexCharts;
@using DomraSinForms.ChartsWrapper.ApexCharts.Charts;
@using DomraSinForms.Domain.Models.Questions;
@using Forms.Mvc.ViewModels.Answers;
@using Microsoft.AspNetCore.Html;
@using Newtonsoft.Json;
@using Forms.Mvc.ViewModels.Statistics;
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Text;
@using Newtonsoft.Json.Serialization;
@inject IViewLocalizer Localizer
@model QuestionSummary

<div class="card card-button" data-bs-toggle="modal" data-bs-target="#modal-@Model.Question.Id">
    <div class="card-header">
        <div class="card-title h5">@Model.Question.QuestionText</div>
    </div>
    <div class="card-body">
        @switch (Model.Question)
        {
            case OptionsQuestion options:
                {
                    <div id="chart-@Model.Question.Id"></div>
                }
                break;
            case TextQuestion:
                @foreach (var answer in Model.Answers.Distinct().Take(10))
                {
                    <div class="form-group my-1">
                        <input class="form-control" value="@answer" disabled />
                    </div>
                }
                break;
        }
    </div>
</div>

<div class="modal" id="modal-@Model.Question.Id">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content p-1 text-center">

            <div class="modal-body justify-content-center">
                <div class="h2 mb-3">@Localizer["All answers"]:</div>
                @foreach (var answers in Model.Answers.ToArray())
                {
                    <div class="card my-2">
                        <div class="card-body">
                            @foreach (var answer in answers.Split("; "))
                            {
                                <div class="form-group my-1">
                                    <input class="form-control my-1" value="@answer" disabled />
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
