@using Forms.Mvc.Models.Answers;
@using Forms.Mvc.Models.Statistics;
@model QuestionSummary

<div class="card">
    <div class="card-body">
        <div>@Model.Question.Id</div>
        <div>@Model.Question.QuestionText</div>
        <div>@(string.Join(' ', Model.Answsers.SelectMany(a => a.Split(';'))))</div>
    </div>
</div>
