@using Forms.Mvc.Models.Answers;
@using Forms.Mvc.Models.Statistics;
@using DomraSinForms.ChartsWrapper.Models;
@using DomraSinForms.ChartsWrapper.Models.Options;
@inject DomraSinForms.ChartsWrapper.Wrappers.Wrapper Wrapper
@model QuestionSummary

<div class="card">
    <div class="card-body">
        <div class="card-title h5">@Model.Question.QuestionText</div>
        @*<div>@Model.Question.Id</div>
        <div>@(string.Join(' ', Model.Answsers.SelectMany(a => a.Split(';'))))</div>*@
    </div>
    <div class="card-footer">
        <div id="@Model.Question.Id"></div>
    </div>
</div>
@{
    Wrapper.AddChart(Model.Question.Id, Model, new ChartOptions
            {
                BackgroundColor = new BackgroundColor
                {
                    FillOpacity = 0
                },
                PieHole = 0.4m,
                PieSliceBorderColor = "",
                Is3D = false,
                Legend = new Legend
                {
                    TextStyle = new TextStyle
                    {
                        Color = "white"
                    }
                },
            });
}