@using DomraSinForms.Application.Answers.Queries.GetList;
@using Forms.Mvc.Models.Statistics;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model FormAnswersListViewModel
@{
    var selectedAnswers = "";
}
<div class="row">

    <select class="form-control" asp-for="@selectedAnswers" asp-items="@(new SelectList(Model.AnswersDto, nameof(FormAnswersDto.Id), nameof(FormAnswersDto.Id)))"></select>
    <a asp-action="FormAnswers" asp-route-answersId="@selectedAnswers"> @Localizer["See more"]</a>

</div>