@using DomraSinForms.Application.Answers.Queries.GetList;
@using DomraSinForms.ChartsWrapper.ApexCharts.Charts;
@using DomraSinForms.ChartsWrapper.ApexCharts;
@using DomraSinForms.ChartsWrapper.Models.Options;
@using Forms.Mvc.Models.Statistics;
@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.Mvc.Localization;
@using DomraSinForms.ChartsWrapper.Models;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@inject IViewLocalizer Localizer
@inject DomraSinForms.ChartsWrapper.Wrappers.Wrapper Wrapper
@inject DomraSinForms.ChartsWrapper.Wrappers.ScriptWrapper ScriptWrapper
@model SummaryViewModel
@{
    ViewData["Title"] = Localizer["Form answers"];
    Dictionary<object, object> GetCountData(QuestionSummary summary)
    {
        var result = new Dictionary<object, object>();

        var allAnswers = summary.Answsers.SelectMany(a => a.Split("; ")).ToArray();
        foreach (var answer in allAnswers.Distinct())
        {
            result.Add(answer, allAnswers.Count(a => a == answer));
        }
        return result;
    }
}
<div class="row g-3 justify-content-center">
    <div class="col-sm-10 col-md-8 col-xl-6 row g-3">
        <!--Navigation-->
        <div class="col-12 col-md-6">
            <a class="btn btn-secondary form-control">@Localizer["Summary"]</a>
        </div>
        <div class="col-12 col-md-6">
            <a class="btn btn-outline-secondary form-control" asp-action="FormAnswersList" asp-route-formId="@Model.FormId">@Localizer["All answers"]</a>
        </div>

        @foreach (var question in Model.Questions.OrderBy(q => q.Question.Index))
        {
                <div class="col-12">
                @await Html.PartialAsync("_AnsweredQuestionPartial", question)
                </div>
        }
        @*<div class="col-12">
            <div class="card">
                <div class="card-footer bg-light-subtle">
                    <div class="text-center img-fluid justify-content-center" id="chart1"></div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="text-center img-fluid justify-content-center" id="chart2"></div>
        </div>
        <div class="col-12">
            <div class="text-center img-fluid justify-content-center" id="chart3"></div>
        </div>
        <div class="col-12">
            <div class="text-center img-fluid justify-content-center" id="chart4"></div>
        </div>*@
    </div>
</div>
@section scripts {
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script>
            function WriteChart(elementId, chartOptions){
                console.log('chart');
                let chart = new ApexCharts(document.querySelector(`#${elementId}`), chartOptions);
                console.log()
                chart.render();
            }
        </script>
    @foreach (var question in Model.Questions)
    {
        var chartOptions = JsonConvert.SerializeObject(
        new OptionsBuilder()
        .AddData<BarChartDataConverter>(GetCountData(question))
            .Build(),
        new JsonSerializerSettings
                    {
                        ContractResolver = new CamelCasePropertyNamesContractResolver(),
                        NullValueHandling = NullValueHandling.Ignore,
                    }
    );
        <script type="text/javascript">
            var options = JSON.parse('@(new HtmlString(chartOptions))');
            options.theme.mode = themeSwitch.isDarkTheme() ? 'dark' : 'light';
            //options.theme.mode = 'dark';
            options.theme.palette = 'palette8';
            console.log(options);
            console.log(options.series);
            console.log(options.xaxis);
            WriteChart('chart-@(question.Question.Id)', options);
        </script>
    }
}
<style>
    .apexcharts-canvas {
        background-color: transparent;
    }
</style>
