@page "/"

<PageTitle>DSF - Home</PageTitle>
<Clamp>

    <h1 class="display-1 text-center">DomraSinForms</h1>
    <p class="lead">
        Web app for creating tests, surveys, forms etc.
    </p>
    <div class="d-flex flex-column gap-3">
        <div class="col">
            <div class="card card-body pb-0">
                <figure class="text-center">

                    <blockquote class="blockquote">
                        Нет более удобного способа для создания как больших <strong>опросов</strong>, так и <strong>тестов</strong> на то, кто ты из <strong>феечек винкс</strong>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Julian Modely
                    </figcaption>
                </figure>
            </div>
        </div>
        
        <div class="col">
            <div class="card card-body pb-0">
                <figure class="text-center">

                    <blockquote class="blockquote">
                        Моя жизнь <strong>координально</strong> изменилась в лучшую сторону, когда я открыла для себя <strong>DomraSin</strong>.
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Катя Васильева
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="col">
            <div class="card card-body pb-0">
                <figure class="text-center">

                    <blockquote class="blockquote">
                        Ходишь в белом платье, но думаешь про <del>секс</del> <br/>
                        <abbr title="Sex">Smoke</abbr> в кровати в этом платье, что-то в этом есть<br/>
                        Я не знаю, что нашёл в тебе сегодня я<br/>
                        Но знаю, что сегодня весь <em>Ca$h</em> потратим до нуля
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Staerf
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</Clamp>