@inherits LayoutComponentBase

<header class="sidebar">
    <NavMenu/>
</header>

<main>
    @Body

    
</main>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <div class="flex flex-row gap-2">
        <a href="" class="btn btn-primary">Reload</a>
        <a class="btn btn-warning">Dismiss</a>
    </div>
</div>