@inherits LayoutComponentBase

<header>
    <NavMenu/>
</header>

<main class="container">
    @Body
</main>

<footer class="mt-5">
    <div class="container">


        <div class="card card-body text-bg-warning" id="blazor-error-ui" hidden>
            <div class="block">
                An unhandled error has occurred.
            </div>
            <div class="block">
                <a href="" class="btn btn-primary">Reload</a>
                <a class="btn btn-secondary">Dismiss</a>
            </div>
        </div>
    </div>
</footer>