<div class="flex sm:hidden flex-col py-2 bg-white drop-shadow-md shadow-blue-200 w-full">
    <nav class="mobile-nav">
        <div class="nav-item">
            <NavLink class="nav-btn nav-btn-primary" href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="nav-btn nav-btn-primary" href="forms">Forms</NavLink>
            <NavLink class="nav-btn nav-btn-primary" href="test">Test</NavLink>
        </div>
        <div class="nav-item">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-btn">Anton</NavLink>
                </Authorized>
                <NotAuthorized>

                    <NavLink class="nav-btn nav-btn-accent" href="auth/login">Login</NavLink>
                    <NavLink class="nav-btn nav-btn-warning" href="auth/register">Register</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {

}