<div class="  flex flex-col py-2 bg-white drop-shadow-md shadow-blue-200 w-full">

    <div class="text-xl text-center py-2">
        DomraSinForms
    </div>

    <nav class="nav" role="navigation">
        <div class="nav-item "></div>
        <div class="nav-item ">

            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
            <NavLink class="nav-link" href="forms">
                Forms
            </NavLink>
            <NavLink class="nav-link" href="test">
                Test
            </NavLink>
        </div>
        <div class="nav-item">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="auth/login">
                        Login
                    </NavLink>
                    <NavLink class="nav-link" href="auth/register">
                        Register
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </nav>

</div>