@{
    ViewData["Language"] = "Язык";
}
<div class="dropdown-center">
    <label class="btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
        <i class="bi-translate me-2"></i>@ViewData["Language"]
    </label>
    <ul class="dropdown-menu ">
        <li><a class="dropdown-item" href="#">Русский</a></li>
        <li><a class="dropdown-item" href="#">English</a></li>
        <li><a class="dropdown-item" href="#">עברית</a></li>
    </ul>
</div>