@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Home page"]?.Value;
}



<div class="row justify-content-center mt-5 pt-5 g-5">
    <div class="col-12 text-xl-center p-5">
        <div class="display-1">
            @Localizer["What is the DomraSin"]
            
        </div>
        <div class="mt-5 h3 text-secondary-emphasis">
            @Localizer["DomraSin is a software for creating Forms (tests or questionnaire) that you can use for free"]
            
        </div>
    </div>
</div>