@{
    ViewData["Title"] = "Домашняя страница";
}


<div class="row justify-content-center mt-5 pt-5 g-5">
    <div class="col-xl-6 text-xl-center p-5">
        <div class="display-1">
            What is the DomraSin
        </div>
        <div class="mt-5 h3 text-secondary-emphasis">
            DomraSin is a software for creating Forms (tests or questionnaire) that you can use for free
        </div>
    </div>
    <div class="col-xl-6 text-center p-5">
        <i class="display-1 bi-list-check"></i>
    </div>
</div>
@*
<div class="row g-5 m-md-5 p-md-5">
    <div class="col-12 p-5">
        <div class="display-2 text-center">
            Why should you use DomraSin?
        </div>
        <div class="display-4 m-2 mt-5">
            <ul>
                <li>Free</li>
                <li>Open source</li>
                and finally
                <li>Has black theme</li>
            </ul>
        </div>
    </div>
</div>

<div class="row g-5 m-md-5 p-md-5">
    <div class="col-12 p-5">
        <div class="display-2 text-center">
            Where should you start?
        </div>
        <div class="display-4 m-3 mt-5">
            First of all  <a asp-area="Identity" asp-page="/Account/Register">register</a> or <a asp-area="Identity" asp-page="/Account/Register">sign in</a>.
        </div>
        <div class="display-4 m-3">
            Then go to <a asp-controller="Forms" asp-action="Index">Forms list</a> and create your first Form.
        </div><div class="display-4 m-3">
            If you have troubles or want to know more about DomraSinForm go <a href="#">here</a>.
        </div>
    </div>
</div>


<div class="text-center">

    <h1 class="display-3">Добро подаловать</h1>
    <h2 class="display-5 mb-5">в DomraSinForms!</h2>
    <div class="card">
        <div class="card-header">
            <h2 class="display-4">Краткий экскурс</h2>
        </div>
        <div class="card-body">
            <a class="btn btn-primary" asp-controller="Forms" asp-action="Index">Список форм</a>
            <a class="btn btn-success" asp-controller="Forms" asp-action="Create">Создание формы</a>
            <p class="display-6">Не забывайте про вход в учётную запись</p>
        </div>
    </div>
</div>
*@