@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-3">Добро подаловать</h1>
    <h2 class="display-5 mb-5">в DomraSinForms!</h2>
    <div class="card">
        <div class="card-header">
            <h2 class="display-4">Краткий экскурс</h2>
        </div>
        <div class="card-body">
            <a class="btn btn-primary" asp-controller="Answers" asp-action="Index">Список форм</a>
            <a class="btn btn-success" asp-controller="Forms" asp-action="Index">Создание формы</a>
            <p class="display-6">Не забывайте про вход в учётную запись</p>
        </div>
    </div>
</div>
